* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

main {
    overflow: hidden;
}

ul,
ol,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

::placeholder {
    font-family: 'Oxygen';
    font-size: 14px;

    @media(max-width: 1200px) {
        text-align: center;
    }
}

.opened {
    display: block;
}

.flex {
    display: flex;
}

.one {
    aspect-ratio: 1/0.8;
}

.two {
    aspect-ratio: 2/3;
}

.three {
    aspect-ratio: 3/6;
}

.btn-red {
    transition: .3s;
    &:hover {
        background-color: #c5001e;
        transition: .3s;
    }
}

.btn-grey {
    border-radius: 24px;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 500;
    color: rgb(60, 60, 60);
    transition: .3s;
    cursor: pointer;

    &:hover {
        background-color: rgb(178, 178, 178);
        transition: .3s;
    }
}