.posts {
  margin-bottom: 4%;  
    &__title {
      margin-bottom: 20px;
      font-size: 35px;
    }
  
    &__wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-areas:
        "post-0 post-0 post-5"
        "post-0 post-0 post-6"
        "post-1 post-2 post-7"
        "post-1 post-2 post-8"
        "post-3 post-4 post-9"
        "post-3 post-4 post-10";
      grid-template-columns: 1fr 1fr 1fr;
    }
  }