.alert {
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    max-width: 700px;

    &__logo {
        display: flex;
        align-items: center;
        width: 10%;
    }

    &__text {
        width: 80%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }

    &__close-btn {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 10%;
    }
}

.logo {
    width: 30px;
    height: 30px;
}

.orange {
    color: rgb(255, 132, 0);
}

.alert_orange {
    border: solid 2px rgb(255, 132, 0);
    background-color: rgba(255, 153, 0, 0.252);
}

.red {
    color: rgb(255, 0, 0);
}

.alert_red {
    border: solid 2px rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.252);
}

.green {
    color: rgb(0, 135, 7);
}

.alert_green {
    border: solid 2px rgb(0, 135, 7);
    background-color: rgba(0, 255, 38, 0.252);
}

.gray {
    color: rgb(59, 59, 59)
}

.alert_gray {
    border: solid 2px rgb(91, 91, 91);
    background-color: rgba(91, 91, 91, 0.292);
}

.blue {
    color: rgb(26, 90, 192)
}

.alert_blue {
    border: solid 2px rgb(26, 90, 192);
    background-color: rgba(26, 90, 192, 0.264)
}