.post {
    $self: &;
    width: auto;
    padding: 15px;
  
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 15px;
    }
  
    &__date {
      margin: 10px 0;
      font-size: 14px;
      color: gray;
    }
  
    &__title {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
    }
  
    &__text {
      font-size: 18px;
      color: gray;
    }
  
    &__img {
      cursor: pointer;
  
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  
    &__actions {
      display: flex;
      justify-content: space-between;
    }
  
    &__icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;
  
      &:last-child {
        margin-right: 0;
      }
    }
  
    &_medium {
      #{$self}__text {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  
    &_small {
      #{$self}__wrapper {
        display: flex;
        flex-direction: row;
      }
      #{$self}__text {
        display: none;
      }
  
      #{$self}__info {
        display: flex;
        flex-direction: column;
        width: 65%;
      }
  
      #{$self}__img {
        width: 35%;
      }
    }

    &_dark {
      #{$self}__title {
        color: white;
      }

      #{$self}__text {
        color: lightgray;
      }
    }

    &_filtered {
      #{$self}__wrapper {
        flex-direction: row-reverse;
        gap: 15px;
      }

      #{$self}__text {
        display: block;
        -webkit-line-clamp: 4;
      }
    }
  }