.title-container {
    margin: 20px auto;
    padding-bottom: 20px;
    text-align: center;
}
.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(58, 58, 58);
}