.header {
    position: fixed;
    width: 100%;
    background-color: rgb(83, 36, 160);

    &__left {
        display: flex;
        align-items: center;
        gap: 10px;

        &__logo {
            margin-left: 10px;
            width: 35px;

            img {
                width: 100%;
            }
        }
    }

    &__right {
        display: flex;
        position: relative;
    }

    &__search {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-right: 30px;

        &__input {
            width: 250px;
            padding: 7px;
            border-radius: 10px;
        }
    }
}

.container{
    display: flex;
    justify-content: space-between;
}

.header-btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px 15px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-out;

    img {
        margin-left: 5px;
    }

    &:hover {
        background-color: rgb(71, 31, 137);
    }

    &:focus {
        background-color: rgb(71, 31, 137);
    }

    &:after {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 3px;
        background-color: white;
        content: "";
        transition: width 0.3s ease-out;
    }

    &:hover:after,
    &:focus:after {
        width: 100%;
    }
}