.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.burger {
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
}

.burger::after {
    bottom: 0;
}

.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}