.sign-in {
    width: 100vw;
    min-height: calc(100vh - 74px);

    &__title {
        margin: 20px 0;
        font-size: 42px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 20px;
        border: solid 2px rgb(190, 190, 190);
        font-size: 18px;
    }
}

.wrapper {
    margin: 0 auto;
    padding-top: 5%;
    width: 60vw;
}

.btn_underline {
    position: relative;
    transition: .3s;

    &:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: rgb(83, 36, 160);
        content: "";
        transition: width 0.3s ease-out;
    }

    &:hover:after {
        width: 100%;
    }

    pre {
        font-weight: bold;
    }
}

.wid {
    width: fit-content;
}

.form-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.label {
    padding: 5px 0;
}

.sign-up-container {
    margin-top: 20px;
    text-align: center;
}